<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Osceola Food Safety
        </title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <div id="landing-container">
            <nav id="nav">
                <a href="#">Blog</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
            <section id="banner-container">
                <span class="banner-quote-image"></span>
                <h1>
                    Ensuring Safety, Inspiring Trust 
                    <span class="header-accent">Your Partner in Food Safety Excellence</span>
                </h1>
            </section>
            <section id="content">
                <p class="flex-item"> Ensuring food safety in the production of edible products is paramount for protecting consumer health and maintaining public trust in food industries. 
                    Adhering to strict food safety practices not only prevents foodborne illnesses but also upholds the quality and integrity of the products being offered. 
                    Failure to implement adequate food safety measures can result in severe consequences for both consumers and businesses.
                </p>
                <p class="flex-item"> Foodborne illnesses are a serious public health concern and can lead to a range of symptoms from mild gastrointestinal discomfort to severe, 
                    life-threatening conditions. Contaminated food can contain harmful bacteria, viruses, parasites, or chemical substances that can cause illness when
                    consumed. The impact of foodborne illness extends beyond the affected individuals, often leading to widespread outbreaks, product recalls, and damage 
                    to the reputation of the businesses involved.
                </p>
                <p class="flex-item"> In addition to the immediate health risks, failure to prevent foodborne illnesses can have legal and financial implications for businesses. Regulatory 
                    bodies enforce strict food safety standards, and non-compliance can result in fines, legal action, and even closure of the business. Moreover, 
                    the negative publicity from a food safety incident can lead to a loss of consumer trust and loyalty, which can be difficult to regain.
                </p>
            </section>
        </div>
    </body>

</html>

