<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Osceola Food Safety
        </title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <div id="landing-container">
            <section id="nav">
               <p>links</p> 
            </section>
            <section id="banner-container">
                <h1>Pathogen free since 2024</h1>
            </section>
            <section id="content">
                <p>a bunch of words</p>
            </section>
        </div>
    </body>

</html>

