:root {
   /* --lighter-color: #F9F7C9;
   --light-color: #D5F0C1;
   --dark-color: #AAD9BB;
   --darker-color: #80BCBD; */
   
    --lighter-color: #F0F5F9; /* Light, soft background color */
    --light-color: #70C1B3; /* Light, warm accent color */
    --dark-color: #234E52; /* Dark, professional color for text */
    --darker-color: #5E748B; /* Darker color for headings or accents */
    --accent-color: #FF6B6B;

   background-color: var(--lighter-color);
   padding: 2em;
}

#landing-container {
    max-width: 1200px;
}

@media (min-width: 1200px) {
    #landing-container {
        margin: 0 auto;
    }
}

#banner-container {
    display: flex;
    padding: 2em 2em; 
    font-family: 'Courier New', Courier, monospace;
}

#banner-container > h1 {
    color: var(--dark-color);
}

.header-accent {
    display: block;
    color: var(--accent-color);
}

#nav {    
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#nav > a {
    color: var(--light-color);
    font-weight: bolder;
    text-decoration: none;
}

#nav a:hover {
    color: var(--accent-color);
}

#content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 90%;
}